@import "tailwindcss";

@theme inline {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-500: #0284c7;
  --color-primary-600: #0369a1;
  --color-primary-700: #075985;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  @apply antialiased;
}

body {
  @apply bg-slate-50 text-slate-900;
}
